.main-container {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 5px;
}

.section {
  position: relative;
  height: 20em;

  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-shadow: 0 0 5px #000;
}

#section-1::after {
  background: linear-gradient(#000, #ddd);
}

#section-2::after {
  background: linear-gradient(#ddd, #000);
}

.static {
  background: white;
  position: relative;
  z-index: 1;
}
.parallax {
  transform-style: preserve-3d;
}
.parallax::after {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  transform: translate3d(0, 0, -5px) scale(2);
  background-size: 100%;
  z-index: -1;
}
