.restaurant-page {
  margin-top: 1rem;
}
.item-title {
  margin-bottom: 0.25rem;
}
.random-select-container {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.address-row {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
}

.comments > span {
  font-size: 0.8rem;
  font-weight: 600;
}
.comments > div {
  margin-top: -0.25rem;
  font-size: 0.95rem;
}
