/* list */
.item-title {
  margin-bottom: 0.25rem;
}
.address {
  display: flex;
}
.price {
  color: #767676;
  padding-bottom: 0.25rem;
}
.random-select-container {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.in-list-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: -0.5rem;
}

/* modal */
.restaurant-modal-button {
  margin-right: 0.5rem !important;
}

/* filter */
.price-range {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.price-range > .input {
  /*flex-basis: 40%;*/
  width: min(72px, 60%);
}
