:root {
  --eva-orange: rgb(255, 185, 81);
}
.evaClockContainer {
  position: relative;
  background-color: black;
  padding: 2rem;

  text-align: center;
  width: 100%;
  color: var(--eva-orange);
}

.evaClock {
  position: absolute;
  top: 0;
  font-family: 'digital';
  z-index: 0;
  margin-top: 0;
  color: var(--eva-orange);
  font-size: 5rem;
}

.evaClockPlaceholder {
  position: absolute;
  top: 0;
  font-family: 'digital';
  margin-top: 0;
  color: #222;
  z-index: 0;
  font-size: 5rem;
}
.clockStatusContainer {
  display: inline;
}
.clockStatusSelect {
  margin-top: 0.5rem;
  border: 1px solid var(--eva-orange);
  width: max-content;
}
.clockStatusTitle {
  height: 0.5rem;
  background: repeating-linear-gradient(
    135deg,
    black,
    black 2px,
    var(--eva-orange) 2px,
    var(--eva-orange) 4px
  );
}
.clockStatusContent {
  margin: 0.25rem;
  font-size: 1rem;
  font-family: 'Noto Serif JP', serif;
}
.eva-input {
  width: 2rem;
  background-color: #222;
  border: none;
  color: var(--eva-orange);
  text-align: center;
}
.eva-input :focus {
  background-color: #222;
  border: 2px var(--eva-orange);
}
.eva-label {
  font-family: 'Noto Serif JP', serif;
  display: flex;
  flex-direction: column;
  font-size: 0.5rem;
  line-height: 0.5rem;
}

.eva-button {
  background-color: var(--eva-orange);
  font-family: 'Noto Serif JP', serif;
}

@font-face {
  font-family: 'digital';
  src: url('../../shared/resources/digital-7.ttf');
}
