.img-container{
    display: flex;
    width: 100%;
}

.img{
    height: 300px;
    flex: 1;
    transition: 0.5s;
    overflow: hidden;
    display: flex;
}
.img:hover{
    flex: 5;
    transition: 0.5s;
    background-color: azure;
}
.img-container >:nth-child(even){
    background-color: aqua;
}
.img-container >:nth-child(odd){
    background-color: hotpink;
}

