/*.img-container {
  display: flex;
  width: 100%;
}

.img {
  height: 300px;
  flex: 1;
  transition: 2s;
  overflow: hidden;
}
.img:hover {
  flex: 5;
  transition: 2s;
  background-color: azure;
}
.img-container > :nth-child(even) {
  background-color: aqua;
}
.img-container > :nth-child(odd) {
  background-color: hotpink;
}
.textbox {
  margin: 1rem;
}
.img > .textbox {
  display: none;
}
.display > .textbox {
  display: block;
}
*/

#title-banner {
  margin-top: -1rem;
  padding: 5rem 0;
  background-image: url('https://lh3.googleusercontent.com/qexHN0gvvhFvh-EVMBq__uJaBb44tVL6WUQAkb_bLZSozDv5rwBMxoQAFPe-9NzicoiTNGDhwxMa533a_yyRdVsIZZ7HnkTc-kMlJyySVZsAFPrz6anT0GmOCagaFXVEgwugzYTgGQ=w1920-h821-no');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  -webkit-text-stroke-width: 0.25px;
  -webkit-text-stroke-color: #111;
}

#title-banner h1 {
  font-size: 4rem;
}
