#headerTitle {
  color: #666;
}
#SideBarToggle {
  margin: 0.25em;
}
#root {
  height: '100vh';
  display: 'flex';
  flex-direction: column;
  flex-wrap: nowrap;
  position: 'sticky';
}

.top-bar {
  position: sticky;
  top: 0;
  background-color: white !important;
  z-index: 1;
  margin: 0 !important;
  box-shadow: 2px 1px 1px #bbb !important;
}

.menu-icon {
  padding: 0.5rem;
}

.dropdown-menu {
  min-width: 200px !important;
  margin-left: -1.25rem !important;
  margin-top: 0.8rem !important;
  border-radius: 0 !important;
  max-height: calc(100vh - 50px);
  overflow-y: auto;
}

.content-panel-container {
  min-height: 90vh;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
/*
html {
  filter: brightness(0.5);
}
*/
